<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go App with HTMX</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
<h1>Hello {{.Name}} served from {{.PodName}}</h1>
<h2>Items List</h2>
<div id="items-list" hx-get="/list" hx-trigger="load">
    <!-- Items will be loaded here -->
</div>

<form id="addForm" hx-post="/add" hx-target="#items-list" hx-swap="outerHTML">
    <input type="text" name="item" required>
    <button>Add Item</button>
</form>
<script>
    document.body.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.elt.id === 'addForm') {
            event.detail.elt.reset();
        }
    })
</script>
</body>
</html>